<% include ../partials/header %>

<h1><%= book.name %></h1>

<img class="ui big rounded image" src="<%= book.image %>" alt="Book image">

<div class="ui segment" id="bottom-margin-show-page">
    <p><%= book.review %></p>
    <div class="ui divider"></div>   
        <a class="mini ui blue basic button" href="/books/<%= book._id %>/edit">Edit</a>
        <form action="/books/<%= book._id %>?_method=DELETE" method="POST" style="display: inline">
            <button class="mini ui red basic button">Delete</button>
        </form>
</div>

<div class="ui segment">
    <a href="/books/<%= book._id %>/comments/new" class="ui button">Add a comment</a>
    <div class="ui divider"></div>
    <% book.comments.forEach(function(comment){ %>
        <p>
            <%= comment.content %>
        </p>
    <% }); %>
</div>
<% include ../partials/footer %>